<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Библиотека</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap" rel="stylesheet">
</head>
<body>

    <header>
        <h1 class="main-title">Добро пожаловать в библиотеку</h1>
    </header>

    <nav class="navigation">
        <a href="/">Главная</a> |
        <a href="/books">Книги</a> |
        <a href="/add_book">Добавить книгу</a> |
        {% if current_user.is_authenticated %}
            <a href="/logout">Выйти ({{ current_user.username }})</a>
        {% else %}
            <a href="/login">Вход</a> |
            <a href="/register">Регистрация</a>
        {% endif %}
    </nav>

    <section class="intro">
        <div class="text">
            <h2>Исследуйте нашу коллекцию книг!</h2>
            <p>В нашей библиотеке вы найдете множество интересных книг на любой вкус. Вы можете просмотреть список доступных книг или добавить свою любимую.</p>
        </div>
        <div class="image">
            <img src="{{ url_for('static', filename='images/library.jpg') }}" alt="Библиотека">
        </div>
    </section>

    <section class="actions">
        <h2>Что вы хотите сделать?</h2>
        <ul>
            <li><a href="/books">Посмотреть книги</a></li>
        </ul>

        <ul>
             <li><a href="/add_book">Добавить новую книгу</a></li>
        </ul>
    </section>

    <footer class="footer">
        <p>&copy; 2025 Библиотека. <a href="/privacy_policy">Политика конфиденциальности</a> | <a href="/cookie_policy">Политика использования файлов cookie</a></p>
    </footer>

    <!-- Баннер с уведомлением о cookie -->
    <div id="cookie-banner" class="cookie-banner">
        <p>Мы используем файлы cookie для улучшения работы сайта. Продолжая использование, вы соглашаетесь с <a href="/cookie_policy">политикой использования файлов cookie</a>.</p>
        <button id="accept-cookies">Принять</button>
    </div>
    <!-- Подключение JS -->
    <script src="{{ url_for('static', filename='js/script.js') }}"></script>
</body>
</html>
